.home {
	display: flex;

	.home-container {
		flex: 4;
		background-color: #f7f9fc;

		.widgets,
		.chart-container {
			display: flex;
			padding: 30px;
			gap: 20px;
			width: 100%;
		}

		.chart-container {
			padding: 5px 25px;
		}
	}
}
